body{
    background-color: rgb(217, 173, 230);
}

h1{
    text-align: center;

}

h3{
    text-align: center;
}

.container--calculo{
    background-color: rgb(186, 104, 208);
    text-align: center;
    height: 250px;
    border-radius: 15px;
    margin: 30px auto 10px;
    padding: 10px;
}

